[submodule "apps/fubars"]
        path = apps/fubars
	url = ../../../frobots/backend/fubars.git
        branch = umbrella
[submodule "images"]
	path = images
	url = ../../../frobots/backend/images.git
