<section class="w-90 m-auto">
  <div class="flex justify-between items-center my-4">
    <div class="font-bold text-lg">
      <h6>Frobots</h6>
    </div>
    <div>
      <p class="font-bold text-xs text-gray-400">QDOS 30000</p>
    </div>
  </div>
  <div id="frobots-list" phx-hook="FrobotsListHook" phx-update="ignore"></div>
</section>



