<p>Garage: this is where the magic happens</p>
<button id="requestMatch" phx-click="request_match"> Request Match </button>
<button phx-click="start_match"> Start Match </button>
<button phx-click="cancel_match"> Cancel Match </button>
