<section class="w-90 m-auto">
  <div class="justify-between items-center my-4 m-auto">
    <div class="font-bold text-lg">
      <h5>
        Create Tournament
      </h5>
    </div>
  </div>
</section>